.poste{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  color: blue;
  margin-bottom: 20px;
}

.name {
  text-align: center;
  margin-top: 20px;
}
.img img {
width: 200px;
}

.img-responsive {
  margin: auto;
}
.container {
  margin-bottom: 20px;
}
#titre{
  text-align: center;
}

h1{
  font-size: 80px;
  text-decoration: underline;
  color: yellow;
}

#en-tete{
  background-size: cover;
  background-position: center;
  }

p{
  font-size: 15px;
  line-height: 400px;
  text-align: center;
}
