.poste{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  color: blue;
  margin-bottom: 20px;
}

.photo img{
  width: 250px;
}

.name{
  text-align: center;
}

#titre{
  text-align: center;
}


#en-tete{
  background-image: url("../img/back.jpg");
  background-size: cover;
  height: 400px;
  background-position: right bottom;
  }

p{
  font-size: 150px;
  line-height: 400px;
  text-align: center;
}
