.poste{
  text-align: center;
  font-size: 60px;
  font-style: italic;
  color: blue;
  margin-bottom: 20px;
}

.name{
  text-align: center;
  
}

#titre{
  text-align: center;
}

h1{
  font-size: 80px;
  text-decoration: underline;
  color: yellow;
}
#titre{
  background-image: url("../img/back.jpg");
}

#en-tete{
  background-image: url("../img/back.jpg");
  background-size: cover;
  height: 400px;
  background-position: right bottom;
  }

p{
  font-size: 150px;
  line-height: 400px;
  text-align: center;
}
